<div class='col-md-5'>
  <div class='well'>
    <div class='row'>
      <div class='col-md-3 text-right'>
        <h3>Log in</h3>
      </div>
    </div>
    <br>
    <%= form_tag(sessions_path) do %>
      <div class='row'>
        <div class='col-md-3 text-right'>
          <%= label_tag(:email) %>
        </div>
        <div class='col-md-8'>
          <%= text_field_tag(:email) %>
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-3 text-right'>
          <%= label_tag(:password) %>
        </div>
        <div class='col-md-8'>
          <%= password_field_tag(:password) %>
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-11 text-right'>
          <%= submit_tag("Log in", class: "btn btn-primary") %>
          <br><br>
          <p>Not registered?&nbsp&nbsp<span><%= link_to('Sign up here', signup_path) %></span></p>
          <p>Forget your password?&nbsp&nbsp<span><%= link_to('Click here', passwd_reset_path) %></span></p>
        </div>
      </div>
    <% end %>
  </div>
</div>